@media (min-width: 768px){
    .navbar {
        border-radius: 4px;
        position: fixed!important;
        top: 1px;
        background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
        background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
        background: linear-gradient(40deg,#45cafc,#303f9f)!important;
        color: #fff;
        width: 100%;
        z-index: 1;
    }

}
body{
    margin: 0 10px;
}
.right-align input{
    margin: 10px;
}
.show-field-btn{
    float: right;
}
.white-text{
    color: #ffffff;
}
#datatable_filter{
    display: none;
}
.centre{
    margin: 0 auto;
}
.modal-open .modal{
    overflow: hidden!important;
}
.modal-content{
    border: none!important;
    box-shadow: none!important;
    margin: 0 auto!important;
}
.btn-secondary.focus, .btn-secondary:focus,.btn-secondary.hover,.btn-secondary:hover,.btn-secondary{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
/*a.page-link,.page-item.active .page-link,.page-item:first-child .page-link,.page-item:last-child .page-link{*/
    /*border-radius: 100px;*/
    /*height: 35px;*/
    /*width: 35px;*/
    /*text-align: center;*/
    /*margin: 4px;*/
    /*background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;*/
    /*background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;*/
    /*background: linear-gradient(40deg,#45cafc,#303f9f)!important;*/
/*}*/
/*.pagination>li>a, .pagination>li>span{*/
    /*color: #FFFFFF!important;*/
/*}*/
div#datatable_paginate {
    display: none;
}
input[type=checkbox]{
    height: 20px;
    width: 20px;
}
.clr{
    clear: both;
}
.custom-container{
    width: 100%;
}
.content-div{
    width: 87%;
    float: left;
    margin-top: 60px;
}
.sidebar-custom.position-custom {
    margin-left: 20px;
    height: 100%;
    margin-top: 50px;
    width: 10%;
    float: left;
    z-index: 1;
    top: 0;
    left: 15px;
    overflow-x: hidden;
    padding-top: 20px;
    background: #fff;
}
.list-group {
    padding: 15px 30px 10px;
    margin-bottom: 50px!important;
    position: absolute;
}
/***********************************Custom CSS****************************/
.custom-acncor:hover{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 10px;

}

label .form-label{
    margin-bottom: 7px!important;
    margin-top: 16px!important;
}
td a,td a:hover {
    color: #000;
    text-decoration: none;
    font-size: 18px!important;
}
body {
    font-size: 18px!important;
}
a {
    font-size: 16px!important;
}
.btn-outline-info:not(:disabled):not(.disabled):active{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
.custom-textarea{
    width: 580px!important;
    border: 1px solid darkslateblue;
    height: 150px;
}
.custom-table,.list-group-item.active{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}

.check-container {
  display:inline-block;
  position:relative;
}
input[type='checkbox'] + label{
   z-index:15;
  position:absolute;
  left:0px;
  top:-1px;
  bottom:10px;
  right:10px;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  cursor:pointer;
  width:20px;
  border: 2px solid #444;
  height:20px;

}
table.table td, table.table th{
    padding: 20px 0;
}
.tag {
  margin-left:10px;
}

/***********************/
.dataTables_paginate{
    margin: 7px 0;
}
span .current,.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    border-radius: 50px!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: #ffff!important;
}
.custom-bg{
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
}
.custom-font{
    font-size: 16px;
    color: #fff;
}
.custom-fontawesome {
    color: #fff;
    font-size: 16px;
    border: 2px solid white;
    padding: 5px;
}
.transparent{
    background: transparent;
}

.custom-button{
    width: 150px;
    height: 50px;
    font-size: 16px;
}
.custom-input{
    width: 600px;
    height: 55px;
    font-size: 16px;
    border: 1px solid darkslateblue;
}
.custom-select{
    width: 600px;
    height: 55px;
    margin-bottom: 15px;
    padding: 15px;
    background: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
    background: linear-gradient(40deg,#45cafc,#303f9f)!important;
    color: #fff;
    border-color: -webkit-linear-gradient(50deg,#45cafc,#303f9f)!important;
    border-color: -o-linear-gradient(50deg,#45cafc,#303f9f)!important;
}
.md-form input[type=text],.mdb-select,.md-form input[type=number],.md-form input[type=date],.md-form input[type=email]{
    width: 580px;
    border: 1px solid #303f9f;
    padding: 10px;
    height: 50px;
    font-size: 16px;
}
option{
    background:#303f9f;
    color: #fff;
}
.form-label{
    display: block;
    font-weight: bold;

}
.d-100{
    display: block;
    text-align: center;
}
i.d-100{
    font-size: 32px;
    color: #303f9f
}
.button-section{
    margin-left: auto!important;
}
.button-list{
    list-style-type: none;
}
.button-list li{
    float: left;
}
/***********************************Custom CSS****************************/


@media (min-width: 1200px) {
  .navbar,
  .page-footer,
  main {
    padding-left: 270px; } }

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none; } }
